.container
{
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel {
    width: 300px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.some-list
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.menu
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#b3
{
    background-color: white;
    border-color: white;
    height: 30px;
}

.title
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.hide
{
    visibility: hidden;
}
#b1
{
    width: 75px;
}

#b2
{
    width: 75px;
}

#b
{
    width: 50px
}

